# Data Wrangling
##### In this stage, i will do data cleaning and pre-processing based on the findings from the previous EDA stage. The purpose of this stage is to produce a consistent, relevant, and ready-to-use dataset for business metric analysis and insight gathering.

In [1]:
import sys
import os
import pandas as pd
from datetime import datetime

sys.path.append(os.path.join(os.getcwd(), '..', 'scripts'))
from data_loader import load_data
from utils import cast_data_types

In [2]:
pwd = os.getcwd()

In [3]:
# Set data path
data_path = os.path.join(pwd, '..', 'data', 'raw')

In [4]:
# Load data
data = load_data(data_path, verbose=True)

[ 11.1%] Loaded customers (1/9) - 99,441 rows
[ 22.2%] Loaded geolocation (2/9) - 1,000,163 rows
[ 33.3%] Loaded order_items (3/9) - 112,650 rows
[ 44.4%] Loaded orders (4/9) - 99,441 rows
[ 55.6%] Loaded order_payments (5/9) - 103,886 rows
[ 66.7%] Loaded order_reviews (6/9) - 99,224 rows
[ 77.8%] Loaded products (7/9) - 32,951 rows
[ 88.9%] Loaded sellers (8/9) - 3,095 rows
[100.0%] Loaded product_category_name_translation (9/9) - 71 rows

============================================================
Loading complete: 9/9 datasets loaded successfully
============================================================

In [5]:
data['customers'].head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [6]:
# Assign data that will be used to a variables
customers = data['customers']
orders = data['orders']
order_reviews = data['order_reviews']

## Customers Table

In [7]:
customers.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [8]:
# Unused columns
customer_columns_to_drop = ['customer_unique_id', 'customer_zip_code_prefix']
customer_columns_to_drop

['customer_unique_id', 'customer_zip_code_prefix']

In [9]:
# Drop unused columns
customers = customers.drop(columns=customer_columns_to_drop)
customers

                            customer_id          customer_city customer_state
0      06b8999e2fba1a1fbc88172c00ba8bc7                 franca             SP
1      18955e83d337fd6b2def6b18a428ac77  sao bernardo do campo             SP
2      4e7b3e00288586ebd08712fdd0374a03              sao paulo             SP
3      b2b6027bc5c5109e529d4dc6358b12c3        mogi das cruzes             SP
4      4f2d8ab171c80ec8364f7c12e35b23ad               campinas             SP
...                                 ...                    ...            ...
99436  17ddf5dd5d51696bb3d7c6291687be6f              sao paulo             SP
99437  e7b71a9017aa05c9a7fd292d714858e8        taboao da serra             SP
99438  5e28dfe12db7fb50a4b2f691faecea5e              fortaleza             CE
99439  56b18e2166679b8a959d72dd06da27f9                 canoas             RS
99440  274fa6071e5e17fe303b9748641082c8                  cotia             SP

[99441 rows x 3 columns]

In [10]:
# Change Data Types to Appropriate Types

## Define type mappings for customers table
customers_type_mapping = {
    'customer_id': 'string',
    'customer_city': 'string',
    'customer_state': 'category'
}

## Apply type mappings
cast_data_types(customers, customers_type_mapping)

Data Types Before:
customer_id: object
customer_city: object
customer_state: object

Data Types After:
customer_id: string
customer_city: string
customer_state: category

## Orders Table

In [11]:
orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [12]:
# Change Data Types to Appropriate Types

# Define type mappings for orders table
orders_type_mapping = {
    'order_id': 'string',
    'customer_id': 'string',
    'order_status': 'category',
    'order_purchase_timestamp': 'datetime',
    'order_approved_at': 'datetime',
    'order_delivered_carrier_date': 'datetime',
    'order_delivered_customer_date': 'datetime',
    'order_estimated_delivery_date': 'datetime'
}

# Apply type mappings
cast_data_types(orders, orders_type_mapping)

Data Types Before:
order_id: object
customer_id: object
order_status: object
order_purchase_timestamp: object
order_approved_at: object
order_delivered_carrier_date: object
order_delivered_customer_date: object
order_estimated_delivery_date: object

Data Types After:
order_id: string
customer_id: string
order_status: category
order_purchase_timestamp: datetime64[ns]
order_approved_at: datetime64[ns]
order_delivered_carrier_date: datetime64[ns]
order_delivered_customer_date: datetime64[ns]
order_estimated_delivery_date: datetime64[ns]

### Date Filter
Filter dataset max to Q1 2018

In [13]:
# Filter order_purchase_timestamp between Q3 2017 and Q1 2018
ts = pd.to_datetime(orders['order_purchase_timestamp'])

orders = orders[
    ((ts.dt.year == 2017) & (ts.dt.quarter >= 3)) |
    ((ts.dt.year == 2018) & (ts.dt.quarter <= 1))
]

In [20]:
# Check start and end date of order_purchase_timestamp to check date filtering
orders['order_purchase_timestamp'].min(), orders['order_purchase_timestamp'].max()

(Timestamp('2017-07-01 00:04:15'), Timestamp('2018-03-31 23:54:10'))

In [21]:
# Filter order_status only 'delivered'
orders = orders[orders['order_status'] == 'delivered']

### Feature Engineering
In this step i will do feature engineering to calculate delivery delay and late_status

In [13]:
# Calculate delivery delay in days
orders['delivery_delay_days'] = (
    orders['order_delivered_customer_date'] -
    orders['order_estimated_delivery_date']
).dt.days

In [14]:
# Create late_status column (if delay days is more than 0, status is True, else false)
orders['late_status'] = orders['delivery_delay_days'] > 0

In [15]:
# Check duplicate
duplicate = orders.duplicated().sum()
# Check Missing Values
mv = orders.isnull().sum()
print(f'Duplicate rows: {duplicate} \n')
print('===============')
print(f'\nMissing values: \n{mv}')

Duplicate rows: 0

===============

Missing values:
order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
delivery_delay_days              2965
late_status                         0
dtype: int64

In [16]:
# Drop rows with missing values
orders = orders.dropna()

## Order Reviews Table

In [17]:
order_reviews.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

In [18]:
# Unused columns
order_reviews_columns_to_drop = ['review_comment_title', 'review_comment_message', 'review_answer_timestamp']
order_reviews_columns_to_drop

['review_comment_title', 'review_comment_message', 'review_answer_timestamp']

In [19]:
# Drop unused columns
order_reviews = order_reviews.drop(columns=order_reviews_columns_to_drop)
order_reviews

,review_id,order_id,review_score,review_creation_date
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,2018-01-18 00:00:00
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,2018-03-10 00:00:00
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,2018-02-17 00:00:00
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,2017-04-21 00:00:00
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,2018-03-01 00:00:00
...,...,...,...,...
99219,574ed12dd733e5fa530cfd4bbf39d7c9,2a8c23fee101d4d5662fa670396eb8da,5,2018-07-07 00:00:00
99220,f3897127253a9592a73be9bdfdf4ed7a,22ec9f0669f784db00fa86d035cf8602,5,2017-12-09 00:00:00
99221,b3de70c89b1510c4cd3d0649fd302472,55d4004744368f5571d1f590031933e4,5,2018-03-22 00:00:00
99222,1adeb9d84d72fe4e337617733eb85149,7725825d039fc1f0ceb7635e3f7d9206,4,2018-07-01 00:00:00
99223,efe49f1d6f951dd88b51e6ccd4cc548f,90531360ecb1eec2a1fbb265a0db0508,1,2017-07-03 00:00:00

In [20]:
# Check Data Types
order_reviews.dtypes

review_id               object
order_id                object
review_score             int64
review_creation_date    object
dtype: object

In [21]:
# Change Data Types to Appropriate Types

# For review_id and order_id change to string
order_reviews['review_id'] = order_reviews['review_id'].astype('string')
order_reviews['order_id'] = order_reviews['order_id'].astype('string')

# For review_score, change to Int64
order_reviews['review_score'] = order_reviews['review_score'].astype('Int64')

# For review_creation_date, change to datetime
order_reviews['review_creation_date'] = pd.to_datetime(order_reviews['review_creation_date'])

In [22]:
# Check Data Types
order_reviews.dtypes

review_id               string[python]
order_id                string[python]
review_score                     Int64
review_creation_date    datetime64[ns]
dtype: object

### Date Filter
Filter dataset between Q3 2017 and Q1 2018

In [32]:
# Filter review_creation_date between Q3 2017 and Q1 2018
ts = pd.to_datetime(order_reviews['review_creation_date'])

order_reviews = order_reviews[
    ((ts.dt.year == 2017) & (ts.dt.quarter >= 3)) |
    ((ts.dt.year == 2018) & (ts.dt.quarter <= 1))
]

In [33]:
# Check start and end date of review_creation_date to check date filtering
order_reviews['review_creation_date'].min(), order_reviews['review_creation_date'].max()

(Timestamp('2017-07-01 00:00:00'), Timestamp('2018-03-31 00:00:00'))

In [34]:
# Check duplicate
duplicate = orders.duplicated().sum()
# Check Missing Values
mv = orders.isnull().sum()
print(f'Duplicate rows: {duplicate} \n')
print('===============')
print(f'\nMissing values: \n{mv}')

Duplicate rows: 0

===============

Missing values:
order_id                         0
customer_id                      0
order_status                     0
order_purchase_timestamp         0
order_approved_at                0
order_delivered_carrier_date     0
order_delivered_customer_date    0
order_estimated_delivery_date    0
delivery_delay_days              0
late_status                      0
dtype: int64

## Merge Table
Merge Customers, Orders, and Orders Reviews Table

In [23]:
# Merge Customer, Orders, and Order Reviews DataFrames
customer_orders = pd.merge(orders, customers, on='customer_id', how='inner')
customer_orders_reviews = pd.merge(customer_orders, order_reviews, on='order_id', how='inner')
customer_orders_reviews.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,delivery_delay_days,late_status,customer_city,customer_state,review_id,review_score,review_creation_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,-8.0,False,sao paulo,SP,a54f0611adc9ed256b57ede6b6eb5114,4,2017-10-11
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,-6.0,False,barreiras,BA,8d5266042046a06655c8db133d120ba5,4,2018-08-08
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,-18.0,False,vianopolis,GO,e73b67b67587f7644d5bd1a52deb1b01,5,2018-08-18
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15,-13.0,False,sao goncalo do amarante,RN,359d03e676b3c069f62cadba8dd3f6e8,5,2017-12-03
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26,-10.0,False,santo andre,SP,e50934924e227544ba8246aeb3770dd4,5,2018-02-17

In [24]:
# Unsused colums list after merge
merge_columns_to_drop = ['customer_id', 'customer_city', 'order_approved_at', 'order_delivered_carrier_date', 'order_delivered_customer_date', 'order_estimated_delivery_date', 'order_purchase_timestamp', 'order_status', 'review_id']
merge_columns_to_drop

['customer_id',
 'customer_city',
 'order_approved_at',
 'order_delivered_carrier_date',
 'order_delivered_customer_date',
 'order_estimated_delivery_date',
 'order_purchase_timestamp',
 'order_status',
 'review_id']

In [25]:
# Drop unused column after merge
customer_orders_reviews = customer_orders_reviews.drop(columns=merge_columns_to_drop)

In [26]:
customer_orders_reviews.head()

,order_id,delivery_delay_days,late_status,customer_state,review_score,review_creation_date
0,e481f51cbdc54678b7cc49136f2d6af7,-8.0,False,SP,4,2017-10-11
1,53cdb2fc8bc7dce0b6741e2150273451,-6.0,False,BA,4,2018-08-08
2,47770eb9100c2d0c44946d9cf07ec65d,-18.0,False,GO,5,2018-08-18
3,949d5b44dbf5de918fe9c16f97b45f8a,-13.0,False,RN,5,2017-12-03
4,ad21c59c0840e6cb83a9ceb5573f8159,-10.0,False,SP,5,2018-02-17

In [33]:
# Check duplicate
duplicate = customer_orders_reviews.duplicated().sum()
# Check Missing Values
mv = customer_orders_reviews.isnull().sum()
print(f'Duplicate rows: {duplicate} \n')
print('===============')
print(f'\nMissing values: \n{mv}')

Duplicate rows: 124

===============

Missing values:
order_id                0
delivery_delay_days     0
late_status             0
customer_state          0
review_score            0
review_creation_date    0
dtype: int64

In [34]:
# See the duplicate data sample
customer_orders_reviews[customer_orders_reviews.duplicated(keep=False)]

,order_id,delivery_delay_days,late_status,customer_state,review_score,review_creation_date
2310,9105e733a6a8fcccf4fced822e1a67ae,-25.0,False,RJ,5,2017-12-19
2311,9105e733a6a8fcccf4fced822e1a67ae,-25.0,False,RJ,5,2017-12-19
3374,cbf088f9ac169d9c7eddcaa9c5e465fe,-10.0,False,SP,5,2018-03-03
3375,cbf088f9ac169d9c7eddcaa9c5e465fe,-10.0,False,SP,5,2018-03-03
4046,246b14cc444e8a7df0afd80495dfa052,-13.0,False,SP,4,2018-07-07
...,...,...,...,...,...,...
94439,1544b91291000836c72384f035436fbf,-18.0,False,SP,5,2017-08-19
95252,2f8f31eb2f7b6572836d662a6625c8e4,-19.0,False,MG,5,2017-02-15
95253,2f8f31eb2f7b6572836d662a6625c8e4,-19.0,False,MG,5,2017-02-15
95767,66f943fd426ac8716ef6b6b97ace8bd8,-5.0,False,DF,4,2018-05-10
95768,66f943fd426ac8716ef6b6b97ace8bd8,-5.0,False,DF,4,2018-05-10

In [35]:
# Remove duplicate rows
customer_orders_reviews = customer_orders_reviews.drop_duplicates()

# Saved Merge Table

In [36]:
# Path to save the cleaned data
save_data_path = os.path.join(pwd, '..', 'data', 'clean')

In [37]:
# Save Merged DataFrame to CSV

timestamp = datetime.now().strftime("%Y%m%d_%H%M%S")

file_versioned = os.path.join(save_data_path, f"data_clean_{timestamp}.csv")
file_latest = os.path.join(save_data_path, "data_clean_latest.csv")

customer_orders_reviews.to_csv(file_versioned, index=False)
customer_orders_reviews.to_csv(file_latest, index=False)

print("Data saved with versioning")

Data saved with versioning